{% extends 'base.html.twig' %}

{% block body %}
  <h1>Bestätigung für die Stornierung Ihrer Buchung von {{ hardwareName }} im Zeitraum {{ startDate.format('Y-m-d H:i') }} bis {{ endDate.format('Y-m-d H:i') }}</h1>
{% endblock %}