{% extends 'main.html.twig' %}
{% block javascripts_body %}
	{{ encore_entry_script_tags('booking_page') }}
{% endblock %}
{% block body %}
	<div class="form-row">
		<form id="booking_form">
			<div class="col">
				<label for="hardware">Hardware</label>
				<select name="hardware" id="hardware">
					{% for hardware in hardwareList %}
						<option value="{{ hardware.id }}">{{ hardware.name }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="col">
				<label for="date">Buchungsdatum</label>
				<input type="date" id="date" name="date" class="form-control"/>
			</div>
			<div class="col">
				{% if isAdmin %}
					<label for="length">Buchungsdauer</label>
					<input type="number" id="booking_length" name="booking_length" min="1" max="10"/>
				{% else %}
					Eine Stunde wird gebucht.
				{% endif %}
			</div>
			<ul id="bookables" class="list-group"></ul>
			<div class="col">
				<input id="submit" type="submit" value="Buchen" class="btn btn-primary" disabled="true">
			</div>
		</form>
	</div>
{% endblock %}
