{% extends 'base.html.twig' %}

{% block body %}
  <h1>Bestätigung</h1>
  <p>Bitte folge dem unten angehängen Link um im nächsten Schritt ein Passwort und Nutzernamen festzulegen.</p>
  <p>
    <a>{{ url }}</a>
  </p>
{% endblock %}
